<div class="menuArea navbar navbar-default">
  <button routerLink="/newmail">New mail</button>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/inbox">Inbox</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/marked">Marked</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/sent">Sent</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/drafts">Drafts</a>
    </li>
  </ul>
</div>