<div class="menuArea navbar navbar-default">
  <button routerLink="/dashboard/newmail">New mail</button>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/dashboard/inbox">Inbox</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/dashboard/marked">Marked</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/dashboard/sent">Sent</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/dashboard/drafts">Drafts</a>
    </li>
  </ul>
</div>